*{
    margin: 0px;
    padding: 0em 2em 0em 2em;
}




.site_header{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;
    background-color: rgb(209, 209, 209);
    -webkit-text-fill-color: gray;
    font-size: 12px;
    padding: 5em 0em 5em 0em;
}

/* .box_large{
    background-color: rgb(209, 209, 209);
    font-size: 12px;
    line-height: 1.2em;
} */

.no_margin{
    margin-left: -8px;
}

.container{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    display: flex;  
    margin: 0px;
    line-height: 2.2em;
    -webkit-text-fill-color: gray;
}

.container p {
    font-size: 20px;
    margin-left: -9px;
}
#infoLeft{
    width: 48vw;
    /* height: 20vw; */
    margin-right: 1em;   
    margin-left: -2.7em;
    padding: 2em 0em 2em 0em;
    font-weight: normal;
    text-align: left;
    background-color: rgb(209, 209, 209);
    font-size: 12px;
}

#infoRight{
    /* background-color: #eeeeff;
    font-size: 13px; */
    width: 45vw;
    margin-left: 1em;
    margin-right: -2.7em;   
    font-weight: normal;
    text-align: left;
    font-size: 12px;
    padding: 2em 0em 2em 0em;
    background-color: rgb(209, 209, 209);
}

footer{
    margin-left: -2em;
    margin-right: -2em;
}
.container_footer{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 0px 10px 0px;
    display: flex;  
    margin-top: 20px;
    line-height: 2.2em;
    -webkit-text-fill-color: gray;
    background-color: rgb(209, 209, 209);
}
#resourceLinks{
    margin-left: 2em;
}

#accessibility{
    margin-right: 2em;
}

.footerItem{
    margin-left: 1em;
    margin-right: 1em; 
    width: 33vw; 
    font-size:13px;
    background-color: #bbb;
}

.footerList{
    margin-left: 0em;
    list-style:none;
}

.footerList ul{
    list-style-type: none;
}
.footerList li{
    font-size: 20px;
}

.footerList li:before{
    content: "-  ";
}

.response{
    font-weight: 1000;
}

td {
    border:1px solid black;
    font-weight: 1000;
    font-size:15px;
  }

ol{
    margin-left: 2em;
    font-size: 20px;
    font-weight: 1000;
}